apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: amazon-clone
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: amazon-backend:latest
        ports:
        - containerPort: 5000
        env:
        - name: NODE_ENV
          value: "production"
        - name: DB_HOST
          value: "mysql-service"
        - name: DB_PORT
          value: "3306"
        - name: DB_NAME
          value: "amazon_clone"
        - name: DB_USER
          value: "root"
        - name: DB_PASSWORD
          value: "Shubham@6024"
        - name: JWT_SECRET
          value: "amazon-clone-super-secret-key-2024"
        - name: JWT_EXPIRES_IN
          value: "7d"
        - name: UPLOAD_DIR
          value: "uploads"
        - name: FRONTEND_URL
          value: "http://frontend-service"
        livenessProbe:
          httpGet:
            path: /api/health
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: amazon-clone
spec:
  selector:
    app: backend
  ports:
  - port: 5000
    targetPort: 5000
  type: ClusterIP
