apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: amazon-clone
  labels:
    app: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: shubhamm18/amazon-frontend:latest
          ports:
            - containerPort: 5173
          env:
            - name: VITE_API_URL
              value: "http://backend-service:5000/api"
        

---
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: amazon-clone
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 5173
      nodePort: 30007
