name: CI-CD-K8S

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Backend
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/amazon-backend:latest ./backend

      - name: Push Backend
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/amazon-backend:latest

      - name: Build Frontend
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/amazon-frontend:latest ./frontend

      - name: Push Frontend
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/amazon-frontend:latest


  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Copy k8s folder
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "k8s"
          target: "/home/ubuntu/"

      - name: Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            kubectl apply -f /home/ubuntu/k8s/
            kubectl rollout restart deployment/backend
            kubectl rollout restart deployment/frontend
            kubectl rollout status deployment/backend
            kubectl rollout status deployment/frontend
